@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@font-face {
  font-family: 'Neue';
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url('/fonts/Neue Montreal Regular 400.otf');
}
@font-face {
  font-family: 'Thunder';
  font-weight: 700; /* Regular */
  font-style: normal;
  src: url('/fonts/Thunder-BoldLC 700.otf');
}

   
  
  .speaker-img {
    width: 100%;
    /* height: auto;  */
    object-fit: contain;
    /* border-radius: 10px; */
    overflow: hidden;
  }
  
  