@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* .carousel-container {
    max-width: 1200px;
    margin: 0;
  } */
  
  /* .speaker-card {
    text-align: center;
    padding: 10px;
  } */
   
  
  .speaker-img {
    width: 100%;
    /* height: auto;  */
    object-fit: contain;
    /* border-radius: 10px; */
    overflow: hidden;
  }
  
  
  /* .speaker-info {
    margin-top: 10px;
  }
  
  .speaker-info h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .speaker-info p {
    font-size: 14px;
    color: gray;
  }
  
  .speaker-info span {
    font-size: 12px;
    color: #b8b8b8;
  } */
  